<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbtn" style="display: none;">
        <button onclick="show()"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="navbar hide">
        <ul>
            <li><a href="/"><i id='homeIcon' class="fa fa-home" aria-hidden="true"></i>HOME</a></li>
            <li><a href="/add">Add ARTICLE</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </div>
    <div class="articles">
    </div>
    <script>
        const BlogsUrl = '/api/blogs';
        const noLabel  = "NO LABEL";
        async function getAllBlogs(){
            const res = await fetch(BlogsUrl);
            const Blogs = await res.json();
            Blogs.reverse(); // TO SHOW LATEST ARTICLES ATT THE TOP
            const container = document.querySelector('.articles');
            let list = `<ul>`;
            Blogs.forEach(element => {
                const Blog = 
                    `<li class="Article">
                    <h2 class='title'>${element.title}</h2>
                    <img class="thumbnail" src="${element.imgUrl?"/img/"+element.imgUrl:"/"}">
                    <p class='content'>${element.content}</p>
                    <span class='label'><a href="${element.label?"/api/Label/"+element.label.id:"/"}">${element.label?element.label.name:noLabel}</a></span>
                    <h3 class='createdAt'>created at : ${element.createdAt}</h3>
                    </li>`;
                
                    list+=Blog;
            });
            list+=`</ul>`;
            container.innerHTML+=list;
        }   

        getAllBlogs();

const show =()=>{
    const navUL = document.querySelector('body > div.navbar');
    const icon = document.querySelector('body > div.navbtn > button');
        if(navUL.className == 'navbar hide'){
        icon.innerHTML =`<i class="fa-solid fa-xmark"></i>`;
    }else{
        icon.innerHTML =`<i class="fa-solid fa-bars"></i>`;
    }
    navUL.classList.toggle("hide"); 
}

    </script>
</body>
</html>