*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dae0e6;
}
.container{
    padding: 12px;
    display: flex;
}

.container{
    padding-top: 3.8em;
}

.articles{
    width: 60%;
    padding: 0px 20px;
}

.details{
    width: 60%;
    float: right;
}
.sidebar{
    background-color: blue;
    width: 25%;
    height: auto;
}
.card {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #00000012;
    border-radius: 2px;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
}
.thumbnail{
    width: 38%;
    border-radius: 2px;
}

/* PURE CSS POUR LE MENU */

i{
    float: left;
    color:white;
    font-weight: bold;
    margin-right: 10px;
}

/* navbar */
.navbar{
    width: 100%;
    overflow: hidden;
    background-color:#0079d3;
    padding: 10px 0px;
    position: fixed;
}

.navbar ul{   
    list-style-type: none;
    width: 100%;
    margin: 0;
}

.navbar ul li{
    float: left;
    margin-left: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.04em;
    letter-spacing: 0.01em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    text-transform: uppercase;
}

.navbtn{
    width:100%;
}


/* ADD POST PAGE PURE CSS BY MARAOUI YASSINE */

#article{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#article input,textarea,select{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: #00000021 0.01em solid;
    border-radius: 3px;
}
label{
    font-size: 1.04rem;
    margin: 15px 0px;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#content{
    /* width: 100%; */
    height: 300px;
    resize: none;
}
.centre{
    display: block;
    width: 55%;
    margin: auto;
    padding-top:5em;
}
#send-btn,option,select{
    font-size: 1.2rem;
}

option{
    border:none;
}


/*
    responsives parametres    

*/

@media only screen and (max-width:1070px){
    
    .navbar{
        padding:0;
        max-height:500px;
        transition: max-height 0.9s ease-out;
        top: 50px;
        background-color: #40596af7;
    }
    .navbar ul li{
        float: none;
        padding: 17px;
        text-align: left;
    }
    .navbtn button{
        margin: auto;
        width: 100%;
        padding: 20px;
        border: none;
        background: #0079d3;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .navbtn{
        display: block!important;
        position: fixed;
        z-index: 1;
    }
    .hide{
        max-height: 0px!important;
    }
}


@media only screen and (max-width:1270px) {

.thumbnail{
    width: 100%;
    border-radius: 2px;
}

.container{
    overflow: hidden;
    display: block;
    padding-top: 3.8em;
}

.centre{
    padding-top: 5em;
}

.articles{
    width: auto;
    padding: 10px;
}
.articles{
    width: auto;
    padding: 10px;
}
.sidebar{
    width: auto;
    padding: 10px;
    margin: 0 10px;
}
.details{
    float: none;
    width: 100%;
}
}
@media only screen and (max-width: 800px) {
.container{
    overflow: hidden;
    display: block;
}
.container{
     padding: 12px;
     display: block;
}
.articles{
    width: auto;
    padding: 10px;
}
.sidebar{
    width: auto;
    padding: 10px;
}

.container{
    padding-top: 3.8em;
}

.centre{
    padding-top: 5em;
    width: 65%!important;;
}

.thumbnail{
    width: 100%;
    border-radius: 2px;
}

} 